## 30913_유시훈_0314_6

## 3.1 데이터를 저장하는 공간:변수
### 3.1.1 변수란

In [1]:
a = 10

In [2]:
a = 20

In [3]:
print(a)

20

### 3.1.2 변수에 값을 저장하고 사용하기

In [4]:
a = 10
print('a')
print(a)

a
10

In [7]:
가나다 = 18
print(가나다)

18

In [8]:
b = '성일'
c = '정보'
print(b+c)

성일정보

In [9]:
print(b,c)

성일 정보

In [11]:
print(b&c)

TypeError: unsupported operand type(s) for &: 'str' and 'str'

In [12]:
name = '유리'
height = 175.5
age = 21
hobby = 'programming'
print(name, height, age, hobby)

유리 175.5 21 programming

In [22]:
print(name,'키는',height,' , 나이는', age,' , 취미는', hobby,'입니다!')

유리 키는 175.5  , 나이는 21  , 취미는 programming 입니다!

```
유리 키는 175.5 , 나이는 21 , 취미는 programming 입니다!
제임스 키는 186 , 나이는 24 , 취미는 요리하기 입니다!
```

In [31]:
name2 = '제임스'
height2 = 186
age2 = 24
hobby2 = '요리하기'
print(name,'키는',height,', 나이는', age,', 취미는', hobby,'입니다!')
print('{} 키는 {} , 나이는 {} , 취미는 {}입니다!'.format(name2, height2, age2, hobby2))
print(f'{name2} 키는 {height2} , 나이는 {age2} , 취미는 {hobby2}입니다!')

유리 키는 175.5 , 나이는 24 , 취미는 요리하기 입니다!
제임스 키는 186 , 나이는 24 , 취미는 요리하기입니다!
제임스 키는 186 , 나이는 24 , 취미는 요리하기입니다!

원의 넓이 구해봅시다.
```
공식 : 파이 * 반지름 ** 2
p = 3.141592
r= 5
```

In [33]:
p = 3.141592
r = 5
print(p * r ** 2)

78.5398